body{
    background-image: url(CHARCOAL\ OVERLAY.png);
    background-size: 1920px;
    background-color: #232323;
    justify-content: center;
    width: auto;
    height: auto;
}

.assets{
    position: center;
    justify-content: center;
    border:none;
    width: 700px;
    padding-left: 280px;
    padding-top: 75px;
    z-index: 2
}

.instructions{
    position: fixed;
    margin-left: 23.5%
}

.bag{
    position: fixed;
    margin-left: 22%;
    margin-top: 50px;
}

.submit-btn{
    height: 32px;
    width: 120px;
    margin-left: 44%;
    position: fixed;
}

.hide{
    display: none;
}

h1 {
    font-size: 45px;
    color: white;
}


